PORT=5000
MONGODB_URI=mongodb+srv://abhishekpal28:ABHI%4028pal@abhishek.ldfgwxh.mongodb.net/image_search_db?retryWrites=true&w=majority&appName=image-search-cluster

GEMINI_API_KEY=AIzaSyAABDrLsna7IglnOJjTuEnqIg7hk8TeQb0

